.toolbar {
  background: #3C4F76;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px #0002;
}

.toolbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar h4 {
  font-weight: bold;
  font-size: 1.5em;
}

.toolbar button {
  background: none;
  border: 1px solid white;
  padding: 10px 25px;
  color: white;
  float: right;
}

.toolbar .filter-add select{
  background: none;
  border: 1px solid white;
  padding: 9px 25px;
  color: #fff;
  margin:0 10px;
}

.toolbar .filter-add select option {
  padding: 9px 10px !important;
    color: #444;
    display: inline-block;
}