.view-modal.modal {
  width: 500px;
  height: 500px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  z-index: 10000;
  box-shadow: 0 0 2px #0001;
  transition: .3s;
}

.modal.view-modal.animate {
  top: 50%;
}

.view-modal.modal .title {
  padding: 15px;
  box-shadow: 0 10px 20px #0001;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}

.view-modal.modal .trash-edit i {
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.view-modal.modal .content {
  padding: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}