.modal-backdrop {
  background: #0005;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  display: none;
}

.modal {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  z-index: 10000;
  box-shadow: 0 0 2px #0001;
  overflow: hidden scroll;
}

.modal .title {
  padding: 15px;
  box-shadow: 0 10px 20px #0001;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}

.modal .trash-edit i {
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.modal .content {
  padding: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}

.modal .content form input, .modal .content form textarea {
  background: none;
  border: none;
  border: 1px solid #4443;
  padding: 10px 0 10px 5px;
  width: 100%;
  margin-bottom: 10px;
}

.modal .content .checkboxes {
  display: flex;
  justify-content: space-around;
}
.modal button {
  margin-top: 30px;
  border: 1px solid white;
  padding: 10px 25px;
  color: #444;
}