* {
    margin: 0;
    padding: 0;
}

body {
    background: #383F51;
    font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ellipsise {
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .modal {
        width: 100% !important;
    }

    .note {
        min-width: 320px;
        max-width: 320px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .toolbar .filter-txt {
        display: none;
    }

    .note {
        min-height: 250px !important;
        max-height: 250px !important;
        min-width: 96vw !important;
        max-width: 96vw !important;
    }

    .notes .notes-collection {
        flex-flow: column wrap;
      }

    
}